/*主页视频背景*/
.b{ position:relative; margin: auto;}
.wenzi{position:absolute; z-index:0;margin: auto; }
.video-container {
    margin: auto;
    position: absolute;
    z-index: -9999;
    bottom: 0%;
    left: 0%;
    height:auto;
    width: 100%;
    overflow: hidden;
    background: #007FFF;
    text-align: center;
    top: 0;
    left: 0;
  }